<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AED</key>
	<string>784</string>
	<key>AFN</key>
	<string>971</string>
	<key>ALL</key>
	<string>8</string>
	<key>AMD</key>
	<string>51</string>
	<key>ANG</key>
	<string>532</string>
	<key>AOA</key>
	<string>973</string>
	<key>ARS</key>
	<string>32</string>
	<key>AUD</key>
	<string>36</string>
	<key>AWG</key>
	<string>533</string>
	<key>AZN</key>
	<string>944</string>
	<key>BAM</key>
	<string>977</string>
	<key>BBD</key>
	<string>52</string>
	<key>BDT</key>
	<string>50</string>
	<key>BGN</key>
	<string>975</string>
	<key>BHD</key>
	<string>48</string>
	<key>BIF</key>
	<string>108</string>
	<key>BMD</key>
	<string>60</string>
	<key>BND</key>
	<string>96</string>
	<key>BOB</key>
	<string>68</string>
	<key>BOV</key>
	<string>984</string>
	<key>BRL</key>
	<string>986</string>
	<key>BSD</key>
	<string>44</string>
	<key>BTN</key>
	<string>64</string>
	<key>BWP</key>
	<string>72</string>
	<key>BYR</key>
	<string>974</string>
	<key>BZD</key>
	<string>84</string>
	<key>CAD</key>
	<string>124</string>
	<key>CDF</key>
	<string>976</string>
	<key>CHE</key>
	<string>947</string>
	<key>CHF</key>
	<string>756</string>
	<key>CHW</key>
	<string>948</string>
	<key>CLF</key>
	<string>990</string>
	<key>CLP</key>
	<string>152</string>
	<key>CNY</key>
	<string>156</string>
	<key>COP</key>
	<string>170</string>
	<key>COU</key>
	<string>970</string>
	<key>CRC</key>
	<string>188</string>
	<key>CUC</key>
	<string>931</string>
	<key>CUP</key>
	<string>192</string>
	<key>CVE</key>
	<string>132</string>
	<key>CZK</key>
	<string>203</string>
	<key>DJF</key>
	<string>262</string>
	<key>DKK</key>
	<string>208</string>
	<key>DOP</key>
	<string>214</string>
	<key>DZD</key>
	<string>12</string>
	<key>EEK</key>
	<string>233</string>
	<key>EGP</key>
	<string>818</string>
	<key>ERN</key>
	<string>232</string>
	<key>ETB</key>
	<string>230</string>
	<key>EUR</key>
	<string>978</string>
	<key>FJD</key>
	<string>242</string>
	<key>FKP</key>
	<string>238</string>
	<key>GBP</key>
	<string>826</string>
	<key>GEL</key>
	<string>981</string>
	<key>GHS</key>
	<string>936</string>
	<key>GIP</key>
	<string>292</string>
	<key>GMD</key>
	<string>270</string>
	<key>GNF</key>
	<string>324</string>
	<key>GTQ</key>
	<string>320</string>
	<key>GYD</key>
	<string>328</string>
	<key>HKD</key>
	<string>344</string>
	<key>HNL</key>
	<string>340</string>
	<key>HRK</key>
	<string>191</string>
	<key>HTG</key>
	<string>332</string>
	<key>HUF</key>
	<string>348</string>
	<key>IDR</key>
	<string>360</string>
	<key>ILS</key>
	<string>376</string>
	<key>INR</key>
	<string>356</string>
	<key>IQD</key>
	<string>368</string>
	<key>IRR</key>
	<string>364</string>
	<key>ISK</key>
	<string>352</string>
	<key>JMD</key>
	<string>388</string>
	<key>JOD</key>
	<string>400</string>
	<key>JPY</key>
	<string>392</string>
	<key>KES</key>
	<string>404</string>
	<key>KGS</key>
	<string>417</string>
	<key>KHR</key>
	<string>116</string>
	<key>KMF</key>
	<string>174</string>
	<key>KPW</key>
	<string>408</string>
	<key>KRW</key>
	<string>410</string>
	<key>KWD</key>
	<string>414</string>
	<key>KYD</key>
	<string>136</string>
	<key>KZT</key>
	<string>398</string>
	<key>LAK</key>
	<string>418</string>
	<key>LBP</key>
	<string>422</string>
	<key>LKR</key>
	<string>144</string>
	<key>LRD</key>
	<string>430</string>
	<key>LSL</key>
	<string>426</string>
	<key>LTL</key>
	<string>40</string>
	<key>LVL</key>
	<string>428</string>
	<key>LYD</key>
	<string>434</string>
	<key>MAD</key>
	<string>504</string>
	<key>MDL</key>
	<string>498</string>
	<key>MGA</key>
	<string>969</string>
	<key>MKD</key>
	<string>807</string>
	<key>MMK</key>
	<string>104</string>
	<key>MNT</key>
	<string>496</string>
	<key>MOP</key>
	<string>446</string>
	<key>MRU</key>
	<string>478</string>
	<key>MUR</key>
	<string>480</string>
	<key>MVR</key>
	<string>462</string>
	<key>MWK</key>
	<string>454</string>
	<key>MXN</key>
	<string>484</string>
	<key>MXV</key>
	<string>979</string>
	<key>MYR</key>
	<string>458</string>
	<key>MZN</key>
	<string>943</string>
	<key>NAD</key>
	<string>516</string>
	<key>NGN</key>
	<string>566</string>
	<key>NIO</key>
	<string>558</string>
	<key>NOK</key>
	<string>578</string>
	<key>NPR</key>
	<string>524</string>
	<key>NZD</key>
	<string>554</string>
	<key>OMR</key>
	<string>512</string>
	<key>PAB</key>
	<string>590</string>
	<key>PEN</key>
	<string>604</string>
	<key>PGK</key>
	<string>598</string>
	<key>PHP</key>
	<string>608</string>
	<key>PKR</key>
	<string>586</string>
	<key>PLN</key>
	<string>985</string>
	<key>PYG</key>
	<string>600</string>
	<key>QAR</key>
	<string>634</string>
	<key>RON</key>
	<string>946</string>
	<key>RSD</key>
	<string>941</string>
	<key>RUB</key>
	<string>643</string>
	<key>RWF</key>
	<string>646</string>
	<key>SAR</key>
	<string>682</string>
	<key>SBD</key>
	<string>90</string>
	<key>SCR</key>
	<string>690</string>
	<key>SDG</key>
	<string>938</string>
	<key>SEK</key>
	<string>752</string>
	<key>SGD</key>
	<string>702</string>
	<key>SHP</key>
	<string>654</string>
	<key>SLL</key>
	<string>694</string>
	<key>SOS</key>
	<string>706</string>
	<key>SRD</key>
	<string>968</string>
	<key>STD</key>
	<string>678</string>
	<key>SYP</key>
	<string>760</string>
	<key>SZL</key>
	<string>748</string>
	<key>THB</key>
	<string>764</string>
	<key>TJS</key>
	<string>972</string>
	<key>TMT</key>
	<string>934</string>
	<key>TND</key>
	<string>788</string>
	<key>TOP</key>
	<string>776</string>
	<key>TRY</key>
	<string>949</string>
	<key>TTD</key>
	<string>780</string>
	<key>TWD</key>
	<string>901</string>
	<key>TZS</key>
	<string>834</string>
	<key>UAH</key>
	<string>980</string>
	<key>UGX</key>
	<string>800</string>
	<key>USD</key>
	<string>840</string>
	<key>USN</key>
	<string>997</string>
	<key>USS</key>
	<string>998</string>
	<key>UYU</key>
	<string>858</string>
	<key>UZS</key>
	<string>860</string>
	<key>VEF</key>
	<string>937</string>
	<key>VND</key>
	<string>704</string>
	<key>VUV</key>
	<string>548</string>
	<key>WST</key>
	<string>882</string>
	<key>XAF</key>
	<string>950</string>
	<key>XAG</key>
	<string>961</string>
	<key>XAU</key>
	<string>959</string>
	<key>XBA</key>
	<string>955</string>
	<key>XBB</key>
	<string>956</string>
	<key>XBC</key>
	<string>957</string>
	<key>XBD</key>
	<string>958</string>
	<key>XCD</key>
	<string>951</string>
	<key>XDR</key>
	<string>960</string>
	<key>XFU</key>
	<string>Nil</string>
	<key>XOF</key>
	<string>952</string>
	<key>XPD</key>
	<string>964</string>
	<key>XPF</key>
	<string>953</string>
	<key>XPT</key>
	<string>962</string>
	<key>XTS</key>
	<string>963</string>
	<key>XXX</key>
	<string>999</string>
	<key>YER</key>
	<string>886</string>
	<key>ZAR</key>
	<string>710</string>
	<key>ZMK</key>
	<string>894</string>
	<key>ZWL</key>
	<string>932</string>
</dict>
</plist>
